<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

#Ejemplo

In [ ]:
my_string1 = 'hola'
my_string2 = "prueba"
print(my_string1 + ' ' + my_string2)

hola prueba

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

#Ejemplo

In [ ]:
my_int = 2332
print(my_int)
print(type(my_int))

2332
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

#Ejemplo

In [ ]:
my_string = "123"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

#Ejemplo

In [ ]:
my_string = "1999"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

#Ejemplo

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

#Ejemplo

In [ ]:
print("Addition ", 3+1)
print("Subtraction ", 8-4)
print("Multiplication ", 4*7)
print("Division ", 10/5)
print('exponent', 2**4)

Addition  4
Subtraction  4
Multiplication  28
Division  2.0
exponent 16

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

#Ejemplo

In [ ]:
print(1/9)
print(1.0/9)

0.1111111111111111
0.1111111111111111

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

#Ejemplo

In [ ]:
my_list = ['uno', 'dos', 1,2]
print(my_list)

['uno', 'dos', 1, 2]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

#Ejemplo

In [ ]:
my_list = ['uno', 'dos', 1,2]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

4
uno
2

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

#Ejemplo

In [ ]:
my_list = ['uno','dos',1,2]
my_list[2] = 'tres'
print(my_list)

['uno', 'dos', 'tres', 2]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

#Ejemplo

In [ ]:
my_list1 = ['uno','dos',1,2]
print(my_list1[1:3])

['dos', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

#Ejemplo

In [ ]:
print(my_list1[1:])

['dos', 1, 2]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['uno', 'dos', 1]

#Ejemplo

In [ ]:
print(my_list1[:3])

['uno', 'dos', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

#Ejemplo

In [ ]:
my_list1 = ['Hola', 'Juan']
my_list1.append('Bien')
print(my_list1)

['Hola', 'Juan', 'Bien']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

#Ejemplo

In [ ]:
my_list1.remove('Bien')
print(my_list1)

['Hola', 'Juan']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
my_tuple1 = ('Carro','Color','Rojo')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

#Ejemplo

In [ ]:
my_tuple1 = ('Carro','Color','Rojo')
print(my_tuple1[1:])

('Color', 'Rojo')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

#Ejemplo

In [ ]:
stock_list1 = ['FCEL','AAPL','AMC','M','GOOG','FB','BAC','GOOG']
stock_set1 = set(stock_list1)
print(stock_set1)

{'M', 'FCEL', 'BAC', 'AMC', 'GOOG', 'FB', 'AAPL'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
my_dic1 = {'M':'MACYS Inc.', 'BAC':'Bank of America', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

#Ejemplo

In [ ]:
print(my_dic1['BAC'])

Bank of America

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

#Ejemplo

In [ ]:
my_dic1['M'] = 'Macys, Company'
print(my_dic1['M'])

Macys, Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

#Ejemplo

In [ ]:
print(my_dic1.keys())

dict_keys(['M', 'BAC', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

#Ejemplo

In [ ]:
my_str = 'Universidad Nacional de Colombia'
print(my_str[3:])

versidad Nacional de Colombia

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

#Ejemplo

In [ ]:
print('es la rama de la matemática que estudia la combinación de elementos de estructuras abstractas acorde a ciertas reglas.'.count('e'))
print('Originalmente esos elementos podían ser interpretados como números o cantidades'.find('e'))
print('El álgebra elemental difiere de la aritmética en el uso de abstracciones'.replace('a','e'))

14
9
El álgebre elementel difiere de le eritmétice en el uso de ebstrecciones

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

#Ejemplo

In [ ]:
Time = '2021-10-18 10:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-18 10:43:00
10

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

#Ejemplo

In [ ]:
my_time1 = 'Hour: {}, Minute:{}'.format('11','30')
print(my_time1)

Hour: 11, Minute:30

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

#Ejemplo

In [ ]:
print('el año tiene %f'%12,'meses')
print('%s a %s'%('Carro','Moto'))

el año tiene 12.000000 meses
Carro a Moto

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

#Ejemplo

In [ ]:
print(12 == 3)
print(5 == 5)
print(7 != 6)
print(9 >= 9)
print(6 >= 8)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

#Ejemplo

In [ ]:
print(4 > 5 and 56 > 5)
print(4 > 2 and 3 < 4) 
print(4 > 7 or 4 < 28)
print(24 < 51 and 4 < 6)

False
True
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

#Ejemplo

In [ ]:
print((4 > 4 or 4 < 6) and (5!=6 and 5>7) and not ( 5 < 7 or 4 < 1 and (3!=5 and 4>3)))
print(9 > 2 or 8 < 9 and (3!=4 and 6>2) and not ( 5 < 4 or 6 < 8 and (2!=7 and 8>2)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

#Ejemplo

In [ ]:
i = 3
if i == 3:
    print('i==3 is True')

i==3 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

#Ejemplo

In [ ]:
p = 6 > 5
q = 9 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

#Ejemplo

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

#Ejemplo

In [ ]:
for i in [2,4,6,8,10]:
    print(i)

2
4
6
8
10

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

#Ejemplo

In [ ]:
stock_set1 = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected1 = ['GOOG','GE']
new_list1 = []
for i in stocks:
    if i not in selected1:
        new_list1.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

#Ejemplo

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'F':
        break

AAPL
GOOG
IBM
FB
F

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

#Ejemplo

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'IBM':
        continue
    print(i)

AAPL
GOOG
FB
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

#Ejemplo

In [ ]:
odd = []
for i in [2,4,6,8,10]:
    odd.append(i+1)
print(odd)

[3, 5, 7, 9, 11]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

#Ejemplo

In [ ]:
list2 = [2,4,6,8,10]
odds = [x+1 for x in list2]
print(odds)

[3, 5, 7, 9, 11]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

#Ejemplo

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['GOOG','V']
new_list = [x for x in stocks if x in selected]
print(new_list)

['GOOG', 'V']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

#Ejemplo

In [ ]:
print([(x, y) for x in [2,4,6,8] for y in [1,3,5,7] if x != y])
print([str(x)+' vs '+str(y) for x in ['Colombia','China','Rusia','Usa'] for y in ['España','Ecuador','Holanda','Suiza'] if x!=y])

[(2, 1), (2, 3), (2, 5), (2, 7), (4, 1), (4, 3), (4, 5), (4, 7), (6, 1), (6, 3), (6, 5), (6, 7), (8, 1), (8, 3), (8, 5), (8, 7)]
['Colombia vs España', 'Colombia vs Ecuador', 'Colombia vs Holanda', 'Colombia vs Suiza', 'China vs España', 'China vs Ecuador', 'China vs Holanda', 'China vs Suiza', 'Rusia vs España', 'Rusia vs Ecuador', 'Rusia vs Holanda', 'Rusia vs Suiza', 'Usa vs España', 'Usa vs Ecuador', 'Usa vs Holanda', 'Usa vs Suiza']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

#Ejemplo

In [ ]:
def sum(x,y):
    return x+y
print(sum(3,6))
print(sum(34,2))

9
36

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

#Ejemplo

In [ ]:
def hi():
    print('Hello mijito')
hi()

Hello mijito

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

#Ejemplo

In [ ]:
print(range(20))
print(range(11,22))
print(range(3,14,4))

range(0, 20)
range(11, 22)
range(3, 14, 4)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#Ejemplo

In [ ]:
list(map(lambda x: x**5, range(10)))

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

#Ejemplo

In [ ]:
list(map(lambda x, y: x+y, [2,4,6,8,10],[10,8,6,4,2]))

[12, 12, 12, 12, 12]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

#Ejemplo

In [ ]:
sorted([10,8,6,4,2])

[2, 4, 6, 8, 10]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

#Ejemplo

In [ ]:
price_list1 = [('AAPL',342.09),('GOOG',934.71),('MSFT',34),('FB',222),('WMT',60.32)]
sorted(price_list1, key = lambda x: x[1])

[('MSFT', 34), ('WMT', 60.32), ('FB', 222), ('AAPL', 342.09), ('GOOG', 934.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

#Ejemplo

In [ ]:
price_list1 = [('AAPL',342.09),('GOOG',934.71),('MSFT',34),('FB',222),('WMT',60.32)]
sorted(price_list1, key = lambda x: x[1],reverse = True)

[('GOOG', 934.71), ('AAPL', 342.09), ('FB', 222), ('WMT', 60.32), ('MSFT', 34)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

#Ejemplo

In [ ]:
price_list = [('AAPL',342.09),('GOOG',934.71),('MSFT',34),('FB',222),('WMT',60.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 34), ('WMT', 60.32), ('FB', 222), ('AAPL', 342.09), ('GOOG', 934.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

#Ejemplo

In [ ]:
tesla = stock('TSLA', 999.69, 165.09, 50109375)
facebook = stock('FB', 793.7, 834.7, 3561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

#Ejemplo

In [ ]:
tesla.ticker
facebook.print_return()
facebook.update(923.8,924.4)
facebook.print_return()

0.051656797278568645
0.0006494912318684154

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

#Ejemplo

In [ ]:
facebook.ceo = 'Mark Z'
facebook.ceo

'Mark Z'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

#Ejemplo

In [ ]:
dir(facebook)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

#Ejemplo

In [ ]:
bb = child('bb')
print(bb.name)
bb.update(134,156)
print(bb.open)
print(bb.close)
print(bb.print_return())

bb
134
156
0.16417910447761197
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

#Ejemplo

In [ ]:
price = [156.73, 123.43, 193.65, 150.19, 167.5, 196.78]
prices_array = np.array(price)
print(prices_array, type(price_array))

[156.73 123.43 193.65 150.19 167.5  196.78] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

#Ejemplo

In [ ]:
Arr = np.array([[3,2],[8,6],[5,4]])
print(Arr, type(Arr))

[[3 2]
 [8 6]
 [5 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

#Ejemplo

In [ ]:
print(Arr.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

#Ejemplo

In [ ]:
print(Arr[1])
print(Arr[2])

[8 6]
[5 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

#Ejemplo

In [ ]:
print('the first column: ', Arr[:,0])
print('the second column: ', Arr[:,1])

the first column:  [3 8 5]
the second column:  [2 6 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

#Ejemplo

In [ ]:
print(np.log(prices_array))

[5.05452458 4.81567419 5.26605241 5.01190116 5.12098335 5.28208635]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

#Ejemplo

In [ ]:
print(np.mean(prices_array))
print(np.std(prices_array))
print(np.sum(prices_array))
print(np.max(prices_array))

164.71333333333334
25.338842821951353
988.28
196.78

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

#Ejemplo

In [ ]:
prices = [156.73, 123.43, 193.65, 150.19, 167.5, 196.78]
z = pd.Series(prices)
z

0    156.73
1    123.43
2    193.65
3    150.19
4    167.50
5    196.78
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

#Ejemplo

In [ ]:
z = pd.Series(prices,index = ['i','ii','iii','iv','v','vi'])
z

i      156.73
ii     123.43
iii    193.65
iv     150.19
v      167.50
vi     196.78
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

#Ejemplo

In [ ]:
z.index = [1,2,3,4,5,6]
z

1    156.73
2    123.43
3    193.65
4    150.19
5    167.50
6    196.78
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

#Ejemplo

In [ ]:
print(z[1:])
print(z[:-3])

2    123.43
3    193.65
4    150.19
5    167.50
6    196.78
dtype: float64
1    156.73
2    123.43
3    193.65
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

#Ejemplo

In [ ]:
print(z[3])
z[3] = 0
print(z)

193.65
1    156.73
2    123.43
3      0.00
4    150.19
5    167.50
6    196.78
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

#Ejemplo

In [ ]:
z = pd.Series(prices, name = 'coffe Price List')
print(z)
print(z.name)

0    156.73
1    123.43
2    193.65
3    150.19
4    167.50
5    196.78
Name: coffe Price List, dtype: float64
coffe Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

#Ejemplo

In [ ]:
print(z.describe())

count      6.000000
mean     164.713333
std       27.757312
min      123.430000
25%      151.825000
50%      162.115000
75%      187.112500
max      196.780000
Name: coffe Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

#Ejemplo

In [ ]:
time_index1 = pd.date_range('2021-02-01',periods = len(z),freq = 'D')
print(time_index1)
z.index = time_index1
print(z)

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')
2021-02-01    156.73
2021-02-02    123.43
2021-02-03    193.65
2021-02-04    150.19
2021-02-05    167.50
2021-02-06    196.78
Freq: D, Name: coffe Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

#Ejemplo

In [ ]:
z.index = [1,2,3,4,5,6]
print(z)
print(z[1])

1    156.73
2    123.43
3    193.65
4    150.19
5    167.50
6    196.78
Name: coffe Price List, dtype: float64
156.73

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

#Ejemplo

In [ ]:
print(z.iloc[1])

123.43

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

#Ejemplo

In [ ]:
s.index = time_index1
print(z['2021-02-03'])

193.65

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

#Ejemplo

In [ ]:
print(z['2021-02-02':'2021-02-06'])

2021-02-02    123.43
2021-02-03    193.65
2021-02-04    150.19
2021-02-05    167.50
2021-02-06    196.78
Freq: D, Name: coffe Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

#Ejemplo

In [ ]:
print(z[z > np.mean(z)] )
print([(z < np.mean(z)) & (s < np.mean(z) + 1.64*np.std(z))])

2021-02-03    193.65
2021-02-05    167.50
2021-02-06    196.78
Name: coffe Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04    False
2017-01-05    False
2017-01-06    False
2021-02-01    False
2021-02-02    False
2021-02-03    False
2021-02-04    False
2021-02-05    False
2021-02-06    False
dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 8.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=744fa5f98756af8bc8e8590686a31d06951b98db28c56bfb32424a0ac46b4ada
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 146.55, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.2325759, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.29863906, 'priceToBook': 37.75116, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.978153, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.801058, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 144.84, 'regularMarketOpen': 143.445, 'twoHundredDayAverage': 138.88344, 'trailingAnnualDividendYield': 0.005764982, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 146.84, 'navPrice': None, 'averageDailyVolume10Day': 70808620, 'regularMarketPreviousClose': 144.84, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.445, 'toCurrency': None, 'averageVolume10days': 70808620, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.16, 'currency': 'USD', 'trailingPE': 28.690292, 'regularMarketVolume': 79797028, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2422500753408, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.16, 'ask': 146.79, 'askSize': 1400, 'volume': 79797028, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 146.71, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 900, 'dayHigh': 146.84, 'regularMarketPrice': 146.55, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655161  24.291437  23.514534  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182571  23.599840  23.023503  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719199  22.848298  22.306542  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827745  42.004942  41.784645  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946576  41.150113  40.822059  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

#Ejemplo

In [ ]:
tsla = yf.Ticker("TSLA")

# get stock info
print(tsla.info)

# get historical market data
tsla_table = tsla.history(start="2019-01-01",  end="2020-12-31")
tsla_table

{'zip': '94304', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 70757, 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.', 'city': 'Palo Alto', 'phone': '650-681-5000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.tesla.com', 'maxAge': 1, 'address1': '3500 Deer Creek Road', 'industry': 'Auto Manufacturers', 'ebitdaMargins': 0.13738, 'profitMargins': 0.0521, 'grossMargins': 0.22044, 'operatingCashflow': 9184000000, 'revenueGrowth': 0.981, 'operatingMargins': 0.07756, 'ebitda': 5751000064, 'targetLowPrice': 67, 'recommendationKey': 'hold', 'grossProfits': 6630000000, 'freeCashflow': 4515624960, 'targetMedianPrice': 755, 'currentPrice': 870.11, 'earningsGrowth': 9.2, 'currentRatio': 1.508, 'returnOnAssets': 0.043509997, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 700.3, 'debtToEquity': 42.552, 'returnOnEquity': 0.12275, 'targetHighPrice': 1591, 'totalCash': 16229000192, 'totalDebt': 11169999872, 'totalRevenue': 41862000640, 'totalCashPerShare': 16.393, 'financialCurrency': 'USD', 'revenuePerShare': 43.812, 'quickRatio': 1.123, 'recommendationMean': 2.6, 'exchange': 'NMS', 'shortName': 'Tesla, Inc.', 'longName': 'Tesla, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'TSLA', 'messageBoardId': 'finmb_27444752', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 19.851, 'beta3Year': None, 'enterpriseToEbitda': 144.497, '52WeekChange': 0.9979855, 'morningStarRiskRating': None, 'forwardEps': 7.26, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1001769984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 25.207, 'sharesShort': 29205723, 'sharesPercentSharesOut': 0.0292, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.41431, 'netIncomeToCommon': 2150000128, 'trailingEps': 1.897, 'lastDividendValue': None, 'SandP52WeekChange': 0.29863906, 'priceToBook': 34.518585, 'heldPercentInsiders': 0.18962, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.56, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 801734075, 'beta': 1.89365, 'enterpriseValue': 830999494656, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '5:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 9.981, 'priceToSalesTrailing12Months': 20.821987, 'dateShortInterest': 1632960000, 'pegRatio': 2.47, 'ytdReturn': None, 'forwardPE': 119.84985, 'lastCapGain': None, 'shortPercentOfFloat': 0.0359, 'sharesShortPriorMonth': 27432219, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 843.03, 'regularMarketOpen': 851.79, 'twoHundredDayAverage': 688.5181, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 875.21, 'navPrice': None, 'averageDailyVolume10Day': 16281120, 'regularMarketPreviousClose': 843.03, 'fiftyDayAverage': 766.73267, 'trailingAnnualDividendRate': None, 'open': 851.79, 'toCurrency': None, 'averageVolume10days': 16281120, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 851.47, 'currency': 'USD', 'trailingPE': 458.67685, 'regularMarketVolume': 24207245, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 871650033664, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 18495428, 'dayLow': 851.47, 'ask': 872.07, 'askSize': 900, 'volume': 24207245, 'fiftyTwoWeekHigh': 900.4, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 379.11, 'bid': 872, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 875.21, 'regularMarketPrice': 870.11, 'logo_url': 'https://logo.clearbit.com/tesla.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-02   61.220001   63.026001  ...          0           0.0
2019-01-03   61.400002   61.880001  ...          0           0.0
2019-01-04   61.200001   63.599998  ...          0           0.0
2019-01-07   64.344002   67.348000  ...          0           0.0
2019-01-08   68.391998   68.802002  ...          0           0.0
...                ...         ...  ...        ...           ...
2020-12-23  632.200012  651.500000  ...          0           0.0
2020-12-24  642.989990  666.090027  ...          0           0.0
2020-12-28  674.510010  681.400024  ...          0           0.0
2020-12-29  661.000000  669.900024  ...          0           0.0
2020-12-30  672.000000  696.599976  ...          0           0.0

[504 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041649
                ...
2017-12-22    41.906765
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965733
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

#Ejemplo

In [ ]:
tsla = tsla_table['Close']['2019']
print(tsla)

Date
2019-01-02    62.023998
2019-01-03    60.071999
2019-01-04    63.537998
2019-01-07    66.991997
2019-01-08    67.070000
                ...
2019-12-24    85.050003
2019-12-26    86.188004
2019-12-27    86.075996
2019-12-30    82.940002
2019-12-31    83.666000
Name: Close, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083916
2017-03-06    32.979778
2017-03-07    33.022385
2017-03-08    32.899300
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946632
2017-03-14    32.896935
2017-03-15    33.244873
2017-03-16    33.299294
2017-03-17    33.133621
2017-03-20    33.481552
2017-03-21    33.098114
2017-03-22    33.472092
2017-03-23    33.353741
2017-03-24    33.287472
2017-03-27    33.344273
2017-03-28    34.035389
2017-03-29    34.111126
2017-03-30    34.066170
2017-03-31    34.002258
Name: Close, dtype: float64

#Ejemplo

In [ ]:
print(tsla['2019-3'])

Date
2019-03-01    58.958000
2019-03-04    57.071999
2019-03-05    55.307999
2019-03-06    55.248001
2019-03-07    55.318001
2019-03-08    56.827999
2019-03-11    58.183998
2019-03-12    56.672001
2019-03-13    57.792000
2019-03-14    57.992001
2019-03-15    55.085999
2019-03-18    53.897999
2019-03-19    53.493999
2019-03-20    54.720001
2019-03-21    54.804001
2019-03-22    52.905998
2019-03-25    52.084000
2019-03-26    53.554001
2019-03-27    54.966000
2019-03-28    55.723999
2019-03-29    55.972000
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289883
2017-02-03    30.419498
2017-02-06    30.704643
2017-02-07    30.996874
                ...
2017-04-24    33.997532
2017-04-25    34.208172
2017-04-26    34.006992
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

#Ejemplo

In [ ]:
tsla['2019-2':'2019-4']

Date
2019-02-01    62.442001
2019-02-04    62.577999
2019-02-05    64.269997
2019-02-06    63.444000
2019-02-07    61.501999
                ...
2019-04-24    51.731998
2019-04-25    49.526001
2019-04-26    47.028000
2019-04-29    48.293999
2019-04-30    47.737999
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041649
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748737
2017-12-21    41.906765
2017-12-22    41.906765
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965733
2017-12-29    40.522732
Name: Close, dtype: float64

#Ejemplo

In [ ]:
print(tsla.head(5))
print(tsla.tail(10))

Date
2019-01-02    62.023998
2019-01-03    60.071999
2019-01-04    63.537998
2019-01-07    66.991997
2019-01-08    67.070000
Name: Close, dtype: float64
Date
2019-12-17    75.797997
2019-12-18    78.629997
2019-12-19    80.807999
2019-12-20    81.117996
2019-12-23    83.844002
2019-12-24    85.050003
2019-12-26    86.188004
2019-12-27    86.075996
2019-12-30    82.940002
2019-12-31    83.666000
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178333
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819263
2017-05-31    36.125682
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
by_month1 = tsla.resample('M').mean()
print(by_month1)

Date
2019-01-31    63.698857
2019-02-28    61.545684
2019-03-31    55.551428
2019-04-30    53.331143
2019-05-31    43.943091
2019-06-30    42.743300
2019-07-31    48.476455
2019-08-31    45.020545
2019-09-30    47.452300
2019-10-31    53.270956
2019-11-30    67.660000
2019-12-31    75.538952
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495495
2017-01-15    28.097737
2017-01-22    28.266119
2017-01-29    28.553981
2017-02-05    29.662545
Freq: W-SUN, Name: Close, dtype: float64

#Ejemplo

In [ ]:
by_week1 = tsla.resample('W').mean()
print(by_week1.head())

Date
2019-01-06    61.877998
2019-01-13    68.042801
2019-01-20    66.977999
2019-01-27    58.753000
2019-02-03    60.873601
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111126
2017-04-30    34.264980
2017-05-31    37.099121
2017-06-30    36.944645
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141659
2017-10-31    40.332241
2017-11-30    42.050137
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
tsla.resample('M').max()

Date
2019-01-31    69.461998
2019-02-28    64.269997
2019-03-31    58.958000
2019-04-30    58.362000
2019-05-31    51.068001
2019-06-30    45.285999
2019-07-31    52.976002
2019-08-31    47.660000
2019-09-30    49.419998
2019-10-31    65.625999
2019-11-30    71.903999
2019-12-31    86.188004
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398283
2017-01-06    27.787130
2017-01-09    28.110776
2017-01-12    28.078178
2017-01-15    28.279671
                ...
2017-12-17    42.019318
2017-12-20    41.854089
2017-12-23          NaN
2017-12-26    40.886706
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172573
2017-02-05    29.108263
2017-02-19    31.516816
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625219
2017-04-16    33.849727
2017-04-30    33.791845
2017-05-14    35.697630
2017-05-28    36.496178
2017-06-11    36.515006
2017-06-25    34.529047
2017-07-09    34.265134
2017-07-23    35.278873
2017-08-06    36.272778
2017-08-20    37.904118
2017-09-03    38.458794
2017-09-17    38.282705
2017-10-01    36.840873
2017-10-15    37.071597
2017-10-29    37.757320
2017-11-12    41.032239
2017-11-26    41.204377
2017-12-10    40.867068
2017-12-24    41.620864
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178333
2017-03-31    32.524054
2017-05-31    35.056854
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
three_day1 = tsla.resample('3D').mean()
two_week1 = tsla.resample('2W').mean()
two_month1 = tsla.resample('2M').mean()


print(three_day1)
print(two_week1)
print(two_month1 )

Date
2019-01-02    61.877998
2019-01-05    66.991997
2019-01-08    67.923335
2019-01-11    69.452003
2019-01-14    68.325333
                ...
2019-12-19    80.962997
2019-12-22    84.447002
2019-12-25    86.132000
2019-12-28    82.940002
2019-12-31    83.666000
Freq: 3D, Name: Close, Length: 122, dtype: float64
Date
2019-01-06    61.877998
2019-01-20    67.510400
2019-02-03    59.931112
2019-02-17    62.184800
2019-03-03    60.448445
2019-03-17    56.550000
2019-03-31    54.212200
2019-04-14    55.346000
2019-04-28    52.273555
2019-05-12    48.840799
2019-05-26    42.398400
2019-06-09    38.478889
2019-06-23    43.715001
2019-07-07    45.082000
2019-07-21    49.109201
2019-08-04    48.508400
2019-08-18    45.700200
2019-09-01    43.981200
2019-09-15    46.849334
2019-09-29    47.922800
2019-10-13    48.161599
2019-10-27    53.701800
2019-11-10    64.422400
2019-11-24    69.845000
2019-12-08    66.596666
2019-12-22    74.448199
2020-01-05    84.627335
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2019-01-31    63.698857
2019-03-31    58.398700
2019-05-31    48.527953
2019-07-31    45.746381
2019-09-30    46.178524
2019-11-30    59.963535
2020-01-31    75.538952
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203369
2017-01-15    0.072529
2017-01-22    0.025557
2017-01-29    0.245289
2017-02-05    0.943260
2017-02-12    0.252002
2017-02-19    0.231392
2017-02-26    0.059345
2017-03-05    0.340092
2017-03-12    0.076287
2017-03-19    0.177836
2017-03-26    0.157267
2017-04-02    0.319807
2017-04-09    0.128690
2017-04-16    0.212474
2017-04-23    0.174675
2017-04-30    0.090023
2017-05-07    0.235638
2017-05-14    0.352976
2017-05-21    0.536093
2017-05-28    0.060388
2017-06-04    0.281222
2017-06-11    0.620035
2017-06-18    0.382564
2017-06-25    0.128892
2017-07-02    0.264109
2017-07-09    0.158890
2017-07-16    0.404277
2017-07-23    0.124989
2017-07-30    0.384444
2017-08-06    0.924389
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275766
2017-09-03    0.251728
2017-09-10    0.381639
2017-09-17    0.294145
2017-09-24    0.735194
2017-10-01    0.354848
2017-10-08    0.204852
2017-10-15    0.118731
2017-10-22    0.516997
2017-10-29    0.680456
2017-11-05    0.560686
2017-11-12    0.190970
2017-11-19    0.436198
2017-11-26    0.563049
2017-12-03    0.427443
2017-12-10    0.073128
2017-12-17    0.205266
2017-12-24    0.194124
2017-12-31    0.190396
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220753
2017-01-22    28.279671
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341911
2017-02-19    32.122971
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022385
2017-03-19    33.299294
2017-03-26    33.481552
2017-04-02    34.111126
2017-04-09    34.264980
2017-04-16    33.886276
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256695
2017-05-14    37.099121
2017-05-21    37.004059
2017-05-28    36.597656
2017-06-04    36.944645
2017-06-11    36.925640
2017-06-18    34.838951
2017-06-25    34.779545
2017-07-02    34.658340
2017-07-09    34.266190
2017-07-16    35.421223
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346291
2017-08-13    38.277935
2017-08-20    38.557091
2017-08-27    38.170570
2017-09-03    39.141659
2017-09-10    38.671616
2017-09-17    38.533241
2017-09-24    37.872322
2017-10-01    36.798645
2017-10-08    37.075413
2017-10-15    37.457172
2017-10-22    38.287476
2017-10-29    38.903061
2017-11-05    41.157799
2017-11-12    42.050137
2017-11-19    41.657742
2017-11-26    41.897198
2017-12-03    41.686474
2017-12-10    40.659225
2017-12-17    41.657742
2017-12-24    42.244404
2017-12-31    40.965733
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041649
2017-01-22    28.227819
2017-01-29    28.272596
2017-02-05    28.597813
2017-02-12    30.704643
2017-02-19    31.547829
2017-02-26    32.314693
2017-03-05    32.409359
2017-03-12    32.823563
2017-03-19    32.896935
2017-03-26    33.098114
2017-04-02    33.344273
2017-04-09    33.926517
2017-04-16    33.384506
2017-04-23    33.296932
2017-04-30    33.997532
2017-05-07    34.681549
2017-05-14    36.215271
2017-05-21    35.708801
2017-05-28    36.443188
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812256
2017-06-25    34.463451
2017-07-02    34.147362
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530556
2017-08-06    35.347557
2017-08-13    37.058708
2017-08-20    37.578846
2017-08-27    37.509659
2017-09-03    38.526070
2017-09-10    37.848461
2017-09-17    37.764946
2017-09-24    36.240322
2017-10-01    35.920605
2017-10-08    36.619698
2017-10-15    37.182789
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575336
2017-11-19    40.486816
2017-11-26    40.702316
2017-12-03    40.582596
2017-12-10    40.470058
2017-12-17    41.114178
2017-12-24    41.748737
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

#Ejemplo

In [ ]:
std1 = tsla.resample('W').std()
max1 = tsla.resample('W').max()
min1 = tsla.resample('W').min()


print(std1)
print(max1)
print(min1)

Date
2019-01-06    1.737606
2019-01-13    1.124122
2019-01-20    3.787836
2019-01-27    1.036116
2019-02-03    1.412219
2019-02-10    1.301969
2019-02-17    0.720289
2019-02-24    1.340026
2019-03-03    2.258545
2019-03-10    0.912968
2019-03-17    1.292164
2019-03-24    0.809593
2019-03-31    1.628349
2019-04-07    2.036129
2019-04-14    0.694687
2019-04-21    0.653822
2019-04-28    2.432749
2019-05-05    1.571911
2019-05-12    1.214653
2019-05-19    1.748396
2019-05-26    1.387749
2019-06-02    0.401043
2019-06-09    2.161831
2019-06-16    0.578286
2019-06-23    0.549554
2019-06-30    0.421725
2019-07-07    0.975102
2019-07-14    1.277700
2019-07-21    0.448193
2019-07-28    3.545615
2019-08-04    0.811350
2019-08-11    0.769047
2019-08-18    1.585979
2019-08-25    1.225819
2019-09-01    1.005279
2019-09-08    0.764127
2019-09-15    1.389792
2019-09-22    0.446245
2019-09-29    1.799710
2019-10-06    1.204953
2019-10-13    0.811545
2019-10-20    0.430600
2019-10-27    6.803877
2019-11-03    1.167362
2019-11-10    1.903094
2019-11-17    0.579414
2019-11-24    2.016178
2019-12-01    0.658277
2019-12-08    0.482296
2019-12-15    1.629857
2019-12-22    2.466461
2019-12-29    1.091285
2020-01-05    0.513358
Freq: W-SUN, Name: Close, dtype: float64
Date
2019-01-06    63.537998
2019-01-13    69.452003
2019-01-20    69.461998
2019-01-27    59.784000
2019-02-03    62.442001
2019-02-10    64.269997
2019-02-17    62.568001
2019-02-24    61.127998
2019-03-03    63.976002
2019-03-10    57.071999
2019-03-17    58.183998
2019-03-24    54.804001
2019-03-31    55.972000
2019-04-07    58.362000
2019-04-14    55.212002
2019-04-21    54.672001
2019-04-28    52.779999
2019-05-05    51.006001
2019-05-12    51.068001
2019-05-19    46.462002
2019-05-26    41.071999
2019-06-02    37.972000
2019-06-09    41.189999
2019-06-16    43.419998
2019-06-23    45.285999
2019-06-30    44.728001
2019-07-07    46.980000
2019-07-14    49.015999
2019-07-21    51.636002
2019-07-28    52.976002
2019-08-04    48.452000
2019-08-11    47.660000
2019-08-18    47.000000
2019-08-25    45.366001
2019-09-01    45.122002
2019-09-08    45.916000
2019-09-15    49.419998
2019-09-22    49.320000
2019-09-29    48.512001
2019-10-06    48.938000
2019-10-13    49.577999
2019-10-20    52.394001
2019-10-27    65.625999
2019-11-03    65.542000
2019-11-10    67.428001
2019-11-17    70.433998
2019-11-24    71.903999
2019-12-01    67.267998
2019-12-08    67.239998
2019-12-15    71.935997
2019-12-22    81.117996
2019-12-29    86.188004
2020-01-05    83.666000
Freq: W-SUN, Name: Close, dtype: float64
Date
2019-01-06    60.071999
2019-01-13    66.991997
2019-01-20    60.452000
2019-01-27    57.518002
2019-02-03    59.276001
2019-02-10    61.160000
2019-02-17    60.754002
2019-02-24    58.245998
2019-03-03    58.958000
2019-03-10    55.248001
2019-03-17    55.085999
2019-03-24    52.905998
2019-03-31    52.084000
2019-04-07    53.556000
2019-04-14    53.540001
2019-04-21    53.276001
2019-04-28    47.028000
2019-05-05    46.801998
2019-05-12    47.903999
2019-05-19    42.206001
2019-05-26    38.125999
2019-06-02    37.032001
2019-06-09    35.793999
2019-06-16    41.852001
2019-06-23    43.924000
2019-06-30    43.854000
2019-07-07    44.910000
2019-07-14    46.012001
2019-07-21    50.476002
2019-07-28    45.608002
2019-08-04    46.770000
2019-08-11    45.664001
2019-08-18    43.127998
2019-08-25    42.279999
2019-09-01    42.816002
2019-09-08    44.136002
2019-09-15    46.358002
2019-09-22    48.124001
2019-09-29    44.641998
2019-10-06    46.285999
2019-10-13    47.543999
2019-10-20    51.389999
2019-10-27    50.700001
2019-11-03    62.661999
2019-11-10    63.444000
2019-11-17    69.017998
2019-11-24    66.608002
2019-12-01    65.783997
2019-12-08    66.073997
2019-12-15    67.905998
2019-12-22    75.797997
2019-12-29    83.844002
2020-01-05    82.940002
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423565
2017-03-31    34.002258
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228168
2017-07-31    35.347557
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332241
2017-11-30    41.150101
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
last_day1 = tsla.resample('M').agg(lambda x: x[-1])
print(last_day1)

Date
2019-01-31    61.403999
2019-02-28    63.976002
2019-03-31    55.972000
2019-04-30    47.737999
2019-05-31    37.032001
2019-06-30    44.692001
2019-07-31    48.321999
2019-08-31    45.122002
2019-09-30    48.174000
2019-10-31    62.984001
2019-11-30    65.987999
2019-12-31    83.666000
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
monthly_return1 = tsla.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return1)

Date
2019-01-31   -0.009996
2019-02-28    0.024567
2019-03-31   -0.050646
2019-04-30   -0.174597
2019-05-31   -0.208752
2019-06-30    0.248589
2019-07-31    0.063565
2019-08-31   -0.035236
2019-09-30    0.070486
2019-10-31    0.287016
2019-11-30    0.053078
2019-12-31    0.249231
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863245076016423
0.052258437220697194
0.0990179594658156

#Ejemplo

In [ ]:
print(monthly_return1.mean())
print(monthly_return1.std())
print(monthly_return1.max())

0.04310874162711617
0.1579379203446269
0.28701625553062127

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825752
2017-03-31    1.578693
2017-04-30   -0.002369
2017-05-31    2.305443
2017-06-30   -2.077164
2017-07-31    1.119389
2017-08-31    3.782166
2017-09-30   -2.357323
2017-10-31    3.559841
2017-11-30    0.817860
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
print(last_day1.diff())
print(last_day1.pct_change())

Date
2019-01-31          NaN
2019-02-28     2.572002
2019-03-31    -8.004002
2019-04-30    -8.234001
2019-05-31   -10.705997
2019-06-30     7.660000
2019-07-31     3.629997
2019-08-31    -3.199997
2019-09-30     3.051998
2019-10-31    14.810001
2019-11-30     3.003998
2019-12-31    17.678001
Freq: M, Name: Close, dtype: float64
Date
2019-01-31         NaN
2019-02-28    0.041887
2019-03-31   -0.125109
2019-04-30   -0.147109
2019-05-31   -0.224266
2019-06-30    0.206848
2019-07-31    0.081223
2019-08-31   -0.066222
2019-09-30    0.067639
2019-10-31    0.307427
2019-11-30    0.047695
2019-12-31    0.267897
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
daily_return1 = last_day1.pct_change()
print(daily_return1.fillna(0))

Date
2019-01-31    0.000000
2019-02-28    0.041887
2019-03-31   -0.125109
2019-04-30   -0.147109
2019-05-31   -0.224266
2019-06-30    0.206848
2019-07-31    0.081223
2019-08-31   -0.066222
2019-09-30    0.067639
2019-10-31    0.307427
2019-11-30    0.047695
2019-12-31    0.267897
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
daily_return1 = last_day1.pct_change()
print(daily_return1.fillna(method = 'bfill'))

Date
2019-01-31    0.041887
2019-02-28    0.041887
2019-03-31   -0.125109
2019-04-30   -0.147109
2019-05-31   -0.224266
2019-06-30    0.206848
2019-07-31    0.081223
2019-08-31   -0.066222
2019-09-30    0.067639
2019-10-31    0.307427
2019-11-30    0.047695
2019-12-31    0.267897
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

#Ejemplo

In [ ]:
daily_return1 = last_day1.pct_change()
daily_return1.dropna()

Date
2019-02-28    0.041887
2019-03-31   -0.125109
2019-04-30   -0.147109
2019-05-31   -0.224266
2019-06-30    0.206848
2019-07-31    0.081223
2019-08-31   -0.066222
2019-09-30    0.067639
2019-10-31    0.307427
2019-11-30    0.047695
2019-12-31    0.267897
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

#Ejemplo

In [ ]:
dict = {'FB': [143.5, 144.09, 142.73, 144.18, 143.77],'TSLA':[898.7, 911.71, 906.69, 918.59, 926.99],
        'BAC':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2020-07-03',periods = 5, freq = 'D')
df1 = pd.DataFrame(dict, index = data_index)
print(df1)

                FB    TSLA     BAC
2020-07-03  143.50  898.70  155.58
2020-07-04  144.09  911.71  153.67
2020-07-05  142.73  906.69  152.36
2020-07-06  144.18  918.59  152.94
2020-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906765
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965733
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

#Ejemplo

In [ ]:
df1 = tsla_table
print(df1.Close.tail(5))
print(df1['Volume'].tail(5))

Date
2020-12-23    645.979980
2020-12-24    661.770020
2020-12-28    663.690002
2020-12-29    665.989990
2020-12-30    694.780029
Name: Close, dtype: float64
Date
2020-12-23    33173000
2020-12-24    22865600
2020-12-28    32278600
2020-12-29    22910800
2020-12-30    42846000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226403  23.412961  23.044510  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296786  24.380737  24.177855  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367384  26.580743  26.212641  ...  145516400        0.0             0
2016-10-31  26.646392  26.782380  26.540884  ...  105677600        0.0             0
2016-11-30  26.300095  26.441493  25.986662  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

#Ejemplo

In [ ]:
tsla_2020 = df1['2020']
tsla_month = tsla_2020.resample('M').agg(lambda x: x[-1])
print(tsla_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-31  128.000000  130.600006  ...          0           0.0
2020-02-29  125.940002  138.104004  ...          0           0.0
2020-03-31  100.250000  108.592003  ...          0           0.0
2020-04-30  171.037994  173.964005  ...          0           0.0
2020-05-31  161.750000  167.000000  ...          0           0.0
2020-06-30  201.300003  217.537994  ...          0           0.0
2020-07-31  303.000000  303.410004  ...          0           0.0
2020-08-31  444.609985  500.140015  ...          0           5.0
2020-09-30  421.320007  433.929993  ...          0           0.0
2020-10-31  406.899994  407.589996  ...          0           0.0
2020-11-30  602.210022  607.799988  ...          0           0.0
2020-12-31  672.000000  696.599976  ...          0           0.0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023108  22.333258  21.990461  22.293615
2016-07-31  24.296786  24.380737  24.177855  24.301449
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300095  26.441493  25.986662  26.045578
2016-12-31  27.490191  27.619805  27.202681  27.294590

#Ejemplo

In [ ]:
tsla_bar = tsla_month[['Open', 'High', 'Low', 'Close']]
print(tsla_bar)

                  Open        High         Low       Close
Date
2020-01-31  128.000000  130.600006  126.503998  130.113998
2020-02-29  125.940002  138.104004  122.304001  133.598007
2020-03-31  100.250000  108.592003   99.400002  104.800003
2020-04-30  171.037994  173.964005  152.699997  156.376007
2020-05-31  161.750000  167.000000  160.841995  167.000000
2020-06-30  201.300003  217.537994  200.746002  215.962006
2020-07-31  303.000000  303.410004  284.196014  286.152008
2020-08-31  444.609985  500.140015  440.109985  498.320007
2020-09-30  421.320007  433.929993  420.470001  429.010010
2020-10-31  406.899994  407.589996  379.109985  388.040009
2020-11-30  602.210022  607.799988  554.510010  567.599976
2020-12-31  672.000000  696.599976  668.359985  694.780029

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023108  22.333258  21.990461  22.293615

#Ejemplo

In [ ]:
print(tsla_month.loc['2019-03':'2019-06',['Open', 'High', 'Low', 'Close']])

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300095  26.441493  25.986662  26.045578
2016-12-31  27.490191  27.619805  27.202681  27.294590

#Ejemplo

In [ ]:
above1 = tsla_bar[tsla_bar.Close > np.mean(tsla_bar.Close)]
print(above1)

                  Open        High         Low       Close
Date
2020-08-31  444.609985  500.140015  440.109985  498.320007
2020-09-30  421.320007  433.929993  420.470001  429.010010
2020-10-31  406.899994  407.589996  379.109985  388.040009
2020-11-30  602.210022  607.799988  554.510010  567.599976
2020-12-31  672.000000  696.599976  668.359985  694.780029

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#Ejemplo

In [ ]:
tsla_bar['rate_return'] = tsla_bar.Close.pct_change()
print(tsla_bar)

                  Open        High         Low       Close  rate_return
Date
2020-01-31  128.000000  130.600006  126.503998  130.113998          NaN
2020-02-29  125.940002  138.104004  122.304001  133.598007     0.026777
2020-03-31  100.250000  108.592003   99.400002  104.800003    -0.215557
2020-04-30  171.037994  173.964005  152.699997  156.376007     0.492137
2020-05-31  161.750000  167.000000  160.841995  167.000000     0.067939
2020-06-30  201.300003  217.537994  200.746002  215.962006     0.293186
2020-07-31  303.000000  303.410004  284.196014  286.152008     0.325011
2020-08-31  444.609985  500.140015  440.109985  498.320007     0.741452
2020-09-30  421.320007  433.929993  420.470001  429.010010    -0.139087
2020-10-31  406.899994  407.589996  379.109985  388.040009    -0.095499
2020-11-30  602.210022  607.799988  554.510010  567.599976     0.462736
2020-12-31  672.000000  696.599976  668.359985  694.780029     0.224066

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

#Ejemplo

In [ ]:
missing1 = tsla_bar.isnull()
print(missing1)
print('---------------------------------------------')
print(missing1.describe())

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True
2020-02-29  False  False  False  False        False
2020-03-31  False  False  False  False        False
2020-04-30  False  False  False  False        False
2020-05-31  False  False  False  False        False
2020-06-30  False  False  False  False        False
2020-07-31  False  False  False  False        False
2020-08-31  False  False  False  False        False
2020-09-30  False  False  False  False        False
2020-10-31  False  False  False  False        False
2020-11-30  False  False  False  False        False
2020-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

#Ejemplo

In [ ]:
print(missing1[missing1.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

#Ejemplo

In [ ]:
drop1 = tsla_bar.dropna()
print(drop1)
print('\n--------------------------------------------------\n')
fill1 = tsla_bar.fillna(0)
print(fill1)

                  Open        High         Low       Close  rate_return
Date
2020-02-29  125.940002  138.104004  122.304001  133.598007     0.026777
2020-03-31  100.250000  108.592003   99.400002  104.800003    -0.215557
2020-04-30  171.037994  173.964005  152.699997  156.376007     0.492137
2020-05-31  161.750000  167.000000  160.841995  167.000000     0.067939
2020-06-30  201.300003  217.537994  200.746002  215.962006     0.293186
2020-07-31  303.000000  303.410004  284.196014  286.152008     0.325011
2020-08-31  444.609985  500.140015  440.109985  498.320007     0.741452
2020-09-30  421.320007  433.929993  420.470001  429.010010    -0.139087
2020-10-31  406.899994  407.589996  379.109985  388.040009    -0.095499
2020-11-30  602.210022  607.799988  554.510010  567.599976     0.462736
2020-12-31  672.000000  696.599976  668.359985  694.780029     0.224066

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2020-01-31  128.000000  130.600006  126.503998  130.113998     0.000000
2020-02-29  125.940002  138.104004  122.304001  133.598007     0.026777
2020-03-31  100.250000  108.592003   99.400002  104.800003    -0.215557
2020-04-30  171.037994  173.964005  152.699997  156.376007     0.492137
2020-05-31  161.750000  167.000000  160.841995  167.000000     0.067939
2020-06-30  201.300003  217.537994  200.746002  215.962006     0.293186
2020-07-31  303.000000  303.410004  284.196014  286.152008     0.325011
2020-08-31  444.609985  500.140015  440.109985  498.320007     0.741452
2020-09-30  421.320007  433.929993  420.470001  429.010010    -0.139087
2020-10-31  406.899994  407.589996  379.109985  388.040009    -0.095499
2020-11-30  602.210022  607.799988  554.510010  567.599976     0.462736
2020-12-31  672.000000  696.599976  668.359985  694.780029     0.224066

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

#Ejemplo

In [ ]:
serie1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'TSLA')
serie2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'FB')
data_frame1 = pd.concat([serie1,serie2], axis = 1)
print(data_frame1)

     TSLA      FB
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287   3.109568
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773   3.147897
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660   3.104300
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504   3.277360
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334   3.281685
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601   3.259848
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955   3.306689

#Ejemplo

In [ ]:
log_prices = np.log(tsla_bar.Close)
log_prices.name = 'log_price'
print(log_prices)
print('\n---------------------- separate line--------------------\n')
concat1 = pd.concat([tsla_bar, log_prices], axis = 1)
print(concat1)

Date
2020-01-31    4.868411
2020-02-29    4.894835
2020-03-31    4.652054
2020-04-30    5.052263
2020-05-31    5.117994
2020-06-30    5.375102
2020-07-31    5.656523
2020-08-31    6.211242
2020-09-30    6.061480
2020-10-31    5.961108
2020-11-30    6.341417
2020-12-31    6.543595
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2020-01-31  128.000000  130.600006  ...          NaN   4.868411
2020-02-29  125.940002  138.104004  ...     0.026777   4.894835
2020-03-31  100.250000  108.592003  ...    -0.215557   4.652054
2020-04-30  171.037994  173.964005  ...     0.492137   5.052263
2020-05-31  161.750000  167.000000  ...     0.067939   5.117994
2020-06-30  201.300003  217.537994  ...     0.293186   5.375102
2020-07-31  303.000000  303.410004  ...     0.325011   5.656523
2020-08-31  444.609985  500.140015  ...     0.741452   6.211242
2020-09-30  421.320007  433.929993  ...    -0.139087   6.061480
2020-10-31  406.899994  407.589996  ...    -0.095499   5.961108
2020-11-30  602.210022  607.799988  ...     0.462736   6.341417
2020-12-31  672.000000  696.599976  ...     0.224066   6.543595

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300095  26.441493  25.986662  26.045578
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104032  34.153737  33.909951  33.999889

#Ejemplo

In [ ]:
df_volume1 = tsla_table.loc['2019-10':'2020-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2020 = tsla_table.loc['2019-10':'2020-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2020)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2019-10-31   62.619999   63.799999   62.599998   62.984001
2019-11-30   66.222000   66.251999   65.500000   65.987999
2019-12-31   81.000000   84.258003   80.416000   83.666000
2020-01-31  128.000000  130.600006  126.503998  130.113998
2020-02-29  125.940002  138.104004  122.304001  133.598007
2020-03-31  100.250000  108.592003   99.400002  104.800003
2020-04-30  171.037994  173.964005  152.699997  156.376007

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431518  25.473240  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226403  23.412961  ...          NaN           NaN
2016-06-30  22.023108  22.333258  ...          NaN           NaN
2016-07-31  24.296786  24.380737  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367384  26.580743  ...          NaN           NaN
2016-10-31  26.646392  26.782380  ...  105677600.0           0.0
2016-11-30  26.300095  26.441493  ...  144649200.0           0.0
2016-12-31  27.490191  27.619805  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

#Ejemplo

In [ ]:
concat1 = pd.concat([tsla_bar, df_volume], axis = 1)
print(concat1)

                  Open        High  ...       Volume  Stock Splits
Date                                ...
2016-10-31         NaN         NaN  ...  105677600.0           0.0
2016-11-30         NaN         NaN  ...  144649200.0           0.0
2016-12-31         NaN         NaN  ...  122345200.0           0.0
2017-01-31         NaN         NaN  ...  196804000.0           0.0
2017-02-28         NaN         NaN  ...   93931600.0           0.0
2017-03-31         NaN         NaN  ...   78646800.0           0.0
2017-04-30         NaN         NaN  ...   83441600.0           0.0
2020-01-31  128.000000  130.600006  ...          NaN           NaN
2020-02-29  125.940002  138.104004  ...          NaN           NaN
2020-03-31  100.250000  108.592003  ...          NaN           NaN
2020-04-30  171.037994  173.964005  ...          NaN           NaN
2020-05-31  161.750000  167.000000  ...          NaN           NaN
2020-06-30  201.300003  217.537994  ...          NaN           NaN
2020-07-31  303.000000  303.410004  ...          NaN           NaN
2020-08-31  444.609985  500.140015  ...          NaN           NaN
2020-09-30  421.320007  433.929993  ...          NaN           NaN
2020-10-31  406.899994  407.589996  ...          NaN           NaN
2020-11-30  602.210022  607.799988  ...          NaN           NaN
2020-12-31  672.000000  696.599976  ...          NaN           NaN

[19 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646392  26.782380  ...  105677600             0
2016-11-30  26.300095  26.441493  ...  144649200             0
2016-12-31  27.490191  27.619805  ...  122345200             0

[3 rows x 7 columns]

#Ejemplo

In [ ]:
concat1 = pd.concat([tsla_bar,df_volume1],axis = 1, join = 'inner')
print(concat1)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2020-01-31  128.000000  130.600006  ...   78596500           0.0
2020-02-29  125.940002  138.104004  ...  121114500           0.0
2020-03-31  100.250000  108.592003  ...   88857500           0.0
2020-04-30  171.037994  173.964005  ...  142359500           0.0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646392  26.782380  26.540884  26.620602          NaN
2016-11-30  26.300095  26.441493  25.986662  26.045578          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

#Ejemplo

In [ ]:
append1 = tsla_bar.append(df_2020)
print(append1)

                  Open        High         Low       Close  rate_return
Date
2020-01-31  128.000000  130.600006  126.503998  130.113998          NaN
2020-02-29  125.940002  138.104004  122.304001  133.598007     0.026777
2020-03-31  100.250000  108.592003   99.400002  104.800003    -0.215557
2020-04-30  171.037994  173.964005  152.699997  156.376007     0.492137
2020-05-31  161.750000  167.000000  160.841995  167.000000     0.067939
2020-06-30  201.300003  217.537994  200.746002  215.962006     0.293186
2020-07-31  303.000000  303.410004  284.196014  286.152008     0.325011
2020-08-31  444.609985  500.140015  440.109985  498.320007     0.741452
2020-09-30  421.320007  433.929993  420.470001  429.010010    -0.139087
2020-10-31  406.899994  407.589996  379.109985  388.040009    -0.095499
2020-11-30  602.210022  607.799988  554.510010  567.599976     0.462736
2020-12-31  672.000000  696.599976  668.359985  694.780029     0.224066
2019-10-31   62.619999   63.799999   62.599998   62.984001          NaN
2019-11-30   66.222000   66.251999   65.500000   65.987999          NaN
2019-12-31   81.000000   84.258003   80.416000   83.666000          NaN
2020-01-31  128.000000  130.600006  126.503998  130.113998          NaN
2020-02-29  125.940002  138.104004  122.304001  133.598007          NaN
2020-03-31  100.250000  108.592003   99.400002  104.800003          NaN
2020-04-30  171.037994  173.964005  152.699997  156.376007          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646392  26.782380  26.540884  26.620602          NaN
2016-11-30  26.300095  26.441493  25.986662  26.045578          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

#Ejemplo

In [ ]:
concat1 = pd.concat([tsla_bar, df_2020], axis = 0)
print(concat1)

                  Open        High         Low       Close  rate_return
Date
2020-01-31  128.000000  130.600006  126.503998  130.113998          NaN
2020-02-29  125.940002  138.104004  122.304001  133.598007     0.026777
2020-03-31  100.250000  108.592003   99.400002  104.800003    -0.215557
2020-04-30  171.037994  173.964005  152.699997  156.376007     0.492137
2020-05-31  161.750000  167.000000  160.841995  167.000000     0.067939
2020-06-30  201.300003  217.537994  200.746002  215.962006     0.293186
2020-07-31  303.000000  303.410004  284.196014  286.152008     0.325011
2020-08-31  444.609985  500.140015  440.109985  498.320007     0.741452
2020-09-30  421.320007  433.929993  420.470001  429.010010    -0.139087
2020-10-31  406.899994  407.589996  379.109985  388.040009    -0.095499
2020-11-30  602.210022  607.799988  554.510010  567.599976     0.462736
2020-12-31  672.000000  696.599976  668.359985  694.780029     0.224066
2019-10-31   62.619999   63.799999   62.599998   62.984001          NaN
2019-11-30   66.222000   66.251999   65.500000   65.987999          NaN
2019-12-31   81.000000   84.258003   80.416000   83.666000          NaN
2020-01-31  128.000000  130.600006  126.503998  130.113998          NaN
2020-02-29  125.940002  138.104004  122.304001  133.598007          NaN
2020-03-31  100.250000  108.592003   99.400002  104.800003          NaN
2020-04-30  171.037994  173.964005  152.699997  156.376007          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287        NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773        NaN
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660        NaN
2016-07-31  24.296786  24.380737  24.177855  24.301449     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504        NaN
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334        NaN
2016-11-30  26.300095  26.441493  25.986662  26.045578    -0.021601        NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955        NaN
2016-10-31        NaN  26.782380  26.540884  26.620602          NaN  26.646392
2016-11-30        NaN  26.441493  25.986662  26.045578          NaN  26.300095
2016-12-31        NaN  27.619805  27.202681  27.294590          NaN  27.490191
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

#Ejemplo

In [ ]:
df_2020.columns = ['Change', 'High','Low','Close']
concat1 = pd.concat([tsla_bar, df_2020], axis = 0)
print(concat1)

                  Open        High  ...  rate_return      Change
Date                                ...
2020-01-31  128.000000  130.600006  ...          NaN         NaN
2020-02-29  125.940002  138.104004  ...     0.026777         NaN
2020-03-31  100.250000  108.592003  ...    -0.215557         NaN
2020-04-30  171.037994  173.964005  ...     0.492137         NaN
2020-05-31  161.750000  167.000000  ...     0.067939         NaN
2020-06-30  201.300003  217.537994  ...     0.293186         NaN
2020-07-31  303.000000  303.410004  ...     0.325011         NaN
2020-08-31  444.609985  500.140015  ...     0.741452         NaN
2020-09-30  421.320007  433.929993  ...    -0.139087         NaN
2020-10-31  406.899994  407.589996  ...    -0.095499         NaN
2020-11-30  602.210022  607.799988  ...     0.462736         NaN
2020-12-31  672.000000  696.599976  ...     0.224066         NaN
2019-10-31         NaN   63.799999  ...          NaN   62.619999
2019-11-30         NaN   66.251999  ...          NaN   66.222000
2019-12-31         NaN   84.258003  ...          NaN   81.000000
2020-01-31         NaN  130.600006  ...          NaN  128.000000
2020-02-29         NaN  138.104004  ...          NaN  125.940002
2020-03-31         NaN  108.592003  ...          NaN  100.250000
2020-04-30         NaN  173.964005  ...          NaN  171.037994

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.